
/*
    Fondo Global
 */
.main-background {
   -fx-background-image: url("../images/img.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.grid-pane-white {
    -fx-background-color: white;
}

/*
    Contenido de la caja
 */
.content-box {
    -fx-background-color: rgba(0,0,0,0.55);
    -fx-padding: 30px;
    -fx-background-radius: 15px;
}

/*
    Topografia
 */

.title {
    -fx-text-fill: white;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-text-fill: #cccccc;
    -fx-font-size: 16px;
}

.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
/*
    Botones
 */
.menu-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #212F3D;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-padding: 15px;
    -fx-background-radius: 10px;
}

.menu-button:hover {
    -fx-background-color: #17202A
}